//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Use  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@use "../vendors/__vendors-dir" as *;
@use "../abstracts/__abstracts-dir"  as *;
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Borders  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  1-before-home  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.ak_btn_1{
    @include ak_btns_1 (3rem,#{$ak_btn_text_color_1}, #{$ak_btn_bg_color_1});
    border: 0.15rem solid #{$ak_btn_border_1};
    @include media-breakpoint-down(sm) {
        font-size: 1.6rem;
    }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Home Buttons  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.ak_signin_btn_1{
    @include ak_btns_1 (1rem,#{$ak_btn_text_color_1}, #{$ak_btn_bg_color_1});
    letter-spacing: 0.05rem;
    padding:0 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        font-weight: bold;
    }
    @include media-breakpoint-down(lg) {
        padding: 0.5rem 0;
        margin: 1rem 0 0.25rem 0;
    }
}
.ak_home_intro_btns{
    @include ak_btns_1 (2rem,#{$ak_btn_text_color_1}, #0000002f);
    margin-top: 0.5rem;
    width: 14rem;
    height: 4.5rem;
    &:hover{
        font-weight: bold;
        background-color:#2dac4f;
    }
    @include media-breakpoint-down(xl) {
        width: 13rem;
        font-size: 1.8rem;
    }
    @include media-breakpoint-down(sm) {
        height: 3rem;
        font-size: 1.5rem;
    }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Sign-in-up pages Buttons  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.sign_with_1{
    @include ak_btns_1 (1rem,#{$ak_text_color_1}, #{$ak_bg_btn_transparency_1});
    width: 21rem;
    height: 3rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    i{
        color: $ak_icon_color_3;
    }
    &:hover{
        background-color: $ak_bg_btn_transparency_2 ;
    }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Custom  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.ak_back_to_top_1 {
    background-color: $ak_btn_bg_color_1;
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    display:none;
    i {
        color: white;
        font-size: 1rem;
        @include ak_center_transform;
    }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Switch Buttons  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Upload buttons   |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.pg6_post_card_form_upload_btn{
    @include form_submit_1 (1rem, 5rem, 5rem);
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
    @include ak_center_flex;
    input{
        display: none;
    }
    @media (max-width: 375px) {
        font-size: 0.8rem;
    }
}
