//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Use  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@use "../vendors/__vendors-dir" as *;
@use "../abstracts/__abstracts-dir"  as *;
@use "../components/__components-dir"  as *;
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Navbar  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar{
    color: text_color($ak_navbar_color_1);
    .navbar_3links{
        margin: 0 0.25rem;
        a{
            @include ak_links_1($ak_links_color_1,$ak_links_hover_1);
            font-size: 0.95rem;
            letter-spacing: 0.05rem;
        }
        @include media-breakpoint-down(lg) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.25rem 0;
        }
    }
    @include media-breakpoint-down(lg) {
    background-color: #1C819E;
    box-shadow: 0rem 0.001rem 0.9rem 0.1rem rgba(27, 27, 27, 0.637);
    }
    .navbar_3links_home{
        @include media-breakpoint-down(lg) {
            margin-top: 1rem;
        }
    }
}
.ak_nav_active{
    font-weight:bold;
    border-bottom: 0.2rem solid yellow;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Navbar  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

