//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Forward  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@forward "2_home";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Background  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body{
    background-color: #40277a;
    opacity: 1;
    background-image:  linear-gradient(#522796 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #522796 0.7000000000000001px, #40277a 0.7000000000000001px);
    background-size: 14px 14px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Background  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
