//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Use  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@use "../vendors/__vendors-dir" as *;
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Colors  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// -->
//  *____________ Main colors ____________ 
///////////////////////////////////////// -->
$ak-color-1: #002451;
$ak-color-2: #E6E6D4;
$ak-color-3: #1C819E;
$ak-color-4: #0dcaf0;
$ak-color-5: #ffc107;
$ak-color-6: #dc3545;
$primary: $ak-color-1;
$secondary: $ak-color-2;
$success: $ak-color-3;
$info: $ak-color-4;
$warning: $ak-color-5;
$danger: $ak-color-6;
///////////////////////////////////////// -->
//  *____________ Layout ____________ 
///////////////////////////////////////// -->
$ak_navbar_color_1: #1C819E;
$ak_footer_color_1: #141A2D;
$ak_footer_color_2: #212121;
$ak_bg_transparency_1 : rgba(white, 0.15);
$ak_bg_transparency_2 : rgba(black, 0.2);

///////////////////////////////////////// -->
//  *____________ Icons ____________ 
///////////////////////////////////////// -->
$ak_icon_color_1: #00a2ff;
$ak_icon_color_2: #ffc107;
$ak_icon_color_3: #00ffc8;
///////////////////////////////////////// -->
//  *____________ Illustrations ____________ 
///////////////////////////////////////// -->
$ak_illustration_color_1: #E6E6D4;
$ak_illustration_color_2: #00a2ff;

///////////////////////////////////////// -->
//  *____________ Typography ____________ 
///////////////////////////////////////// -->
$ak_text_color_1: white;
$ak_text_color_2: yellow;
$ak_text_color_3: rgb(153, 153, 153);;

$ak_display_1_h_color : white;
$ak_display_1_p_color : white;

$ak_headline_color_1: #00ffc8;
$ak_headline_color_2: #00ffc8;

$ak_text_bg_color_1:  rgba(white, 0.15);
$ak_text_bg_color_2:  rgba(white, 0.15);
$ak_comments_bg_color_2:  rgba(white, 0.15);
///////////////////////////////////////// -->
//  *____________ btns ____________ 
///////////////////////////////////////// -->
$ak_btn_bg_color_1: #2dac4f;
$ak_btn_text_color_1: white;

$ak_bg_btn_transparency_1 : rgba(white, 0.08);
$ak_bg_btn_transparency_2 : rgba(white, 0.1);
///////////////////////////////////////// -->
//  *____________ borders ____________ 
///////////////////////////////////////// -->
$ak_btn_border_1: #00ffc8;
$ak_btn_border_2: #00ffc8;
$ak_btn_border_3: white;
///////////////////////////////////////// -->
//  *____________ links ____________ 
///////////////////////////////////////// -->
$ak_links_color_1: #dfdfdf;
$ak_links_hover_1: white;
///////////////////////////////////////// -->
//  *____________ Other ____________ 
///////////////////////////////////////// -->
$ak_color_7: #00ffc8;
$ak_color_8: #00ffc8;
$ak_color_9: #00a2ff;
$ak_bg_color_1 : black;
$ak_glightbox_color_1 : #dc3545;
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Place Holder  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  
// __________________________________________________ % ----------------------------------- @extend _____________________________________________ 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// !  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  Interpolation  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
// __________________________________________________ $ "()" ----------------------------------- #{$} _____________________________________________ 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

